@import "tailwindcss";
@import "leaflet/dist/leaflet.css";



input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.8);
  /* makes it grey */
  cursor: pointer;
}





/* hide leaflet markers - theyre broken on mobile, but still connected visually via segment separations */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: none !important;
}